.selectColumn{
    width: 10px
}

.idColumn {
    width: 20px
}
.toColumn {
    width: 30%
}

.bodyColumn {
    width: 35%
}
.dateColumn {
    width: 350px;
    font-size: 12px
    
}
.actionsColumn {
    width: 100px
}
