
.bodyTextTable {
    color: #999999;
}


.error {
    color: #E54236;
    font-size: 12px
}


  
.button {
    margin-bottom: 15px;
}

.form-control-readonly:disabled, .form-control-readonly[readonly] {
    background-color: white !important;
  }